@import url('common.css');

body {background: white;}
/* visual swiper library */
#visual .swiper {
    /* border:1px solid green;  */
    box-sizing: border-box;
    width: auto;
    height: 100vh;
  }
  
  #visual .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #visual .swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  #visual .swiper-button-next,
  #visual .swiper-button-prev {
    color: #ccc;
  }
  /*
  #visual .swiper-button-next:after,
  #visual .swiper-button-prev:after {
      display:none
  }
  */
  /* // --- visual swiper library */
  
  /*contents*/
  
  #con1 {
    display: flex;
    flex-wrap: wrap;
    padding: 200px 0;
  }
  
  #con1 .wrap {
    padding-top: 100px;
    width: 350px;
    height: 350px;
    margin-left: 50px;
    box-sizing: border-box;
  
    justify-content: flex-end; /* 수평 정렬을 오른쪽으로 설정 */
    align-items: center; /* 수직 정렬을 중앙으로 설정 */
  }
  
  #con1 h2 {
    font-family: "Garamond";
    font-weight: 300;
    font-size: 65px;
  }
  
  #con1 .gallery {
    overflow: hidden;
    width: calc(100% - 350px - 70px - 50px);
    height: 550px;
    margin-left: 70px;
    /* border: 1px solid red;  */
    box-sizing: border-box;
  }
  
  #con1 .gallery .s {
    position: relative;
    width: 2080px;
    height: 540px;
    box-sizing: border-box;
    /* border:5px dashed blue; */
  }
  
  /* CONTENTS 1 갤러리 스와이퍼 라이브러리 설정 */
  
  #con1 .gallery .swiper {
    overflow: visible;
    width: calc(100% - 350px - 70px - 50px);
    height: 525px;
    margin-left: 0px;
    /* border: 1px solid orange;  */
    box-sizing: border-box;
  }
  
  #con1 .gallery .swiper-slide {
    text-align: center;
    width: 390px;
  
    font-size: 18px;
    /* border:2px dashed red; */
  }
  
  #con1 .gallery .swiper-slide img {
    display: block;
    width: 350px;
  }
  
  #con1 .gallery .swiper-slide .pt {
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
    line-height: 30px;
  }
  #con1 .gallery .swiper-slide .pe {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
  
  #con1 .gallery .swiper-scrollbar {
    background-color: #ddd;
    width: 50%;
    margin-left: 250px;
  }
  
  /* #con1 .gallery .swiper-scrollbar-drag {background-color: #fff;} */
  /* .gallery .swiper .swiper-pagination-progressbar {  top:430px; width:30vw; } */
  /* .gallery .swiper .swiper-pagination-progressbar-fill { background:black; } */
  
  /* ////// CONTENTS1 갤러리 스와이퍼 설정 끝  */
  
  #con2 ul {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 184px;
  }
  
  #con2 ul li {
    width: 560px;
    height: 600px;
  }
  #con2 ul li:nth-child(1) {
    background: lightgrey;
  }
  #con2 ul li:nth-child(2) {
    background: darkgrey;
  }
  #con2 ul li:nth-child(3) {
    width: 1120px;
    background: grey;
  }
  
  #con2 ul div {
    position: relative;
    top: 110px;
    font-family: "Garamond";
    font-size: 35px;
    font-weight: 100;
    color: #3c3c3c;
    text-align: center;
  }
  
  #con2 ul li img {
    position: absolute;
  }
  
  #con3 {
    padding-top: 165px;
    padding-bottom: 165px;
    background: #f3f3f3;
  }
  #con3 .video {
    width: 1120px;
    height: 600px;
    background: skyblue;
    margin: 0 auto;
  }
  #con3 .video iframe {
    width: 100%;
  }