@import url('common.css');

#title { 
    text-align: center; 
    padding-top:154px; 
}

h2 {
    font-size: 36px; 
    margin-top:-11px; 
    font-weight: 400;
}

#title>p { font-weight:100; color:#666; margin-top: 16px;}


/* --------- 여기서부터 컨텐츠 구간---------- */

#login_box { /* 전체테두리 */
    padding-top:63px; 
    padding-bottom:0px;
    display: flex; 
    justify-content:center;
    width: 1100px; 
    margin:0 auto;
    margin-bottom: 100px;
}

.box { /* 박스1,2 공통설정 */
    width:450px; height:370px;
    background: white; 
    margin:0 auto;
}

h3 {font-size: 22px; font-weight: 500; margin-bottom: 25px;}


fieldset { 
    display: flex; flex-wrap: wrap; justify-content: space-between;
    margin-bottom: 12px; border: none; 
}
.g1 { width:270px;}

.g1 .ip1 { /* 아이디, 비밀번호 입력 */
    width:270px; height:35px; 
    box-sizing: border-box; 
    border:1px solid #ddd;
    font-size: 15px; color:#3d3d3d;
    padding-left: 5px;
    outline: none;
} 

.g1 .ip1:nth-child(2) {margin-bottom: 10px;}

.ip2 { /* 로그인 버튼 */
    font-size: 18px;
    transition:0.3s;
    width:150px; height:80px; 
    background:#627581; 
    border:1px solid #627581; 
    color:white;
}

.ip2:hover {    
    width:150px; height:80px; 
    background:#fff; 
    border:1px solid #627581; 
    color:#627581;
}


 
.box.b1 { /* 박스1설정 */
    padding:60px 39px 60px 60px; 
    border-right:1px dashed #eee;
}

.box.b2 { /* 박스2설정 */
    padding:60px 60px 60px 39px; 
    border-right:1px dashed #eee;
}


/* box1 상세 */
#checkBox {
    display: flex; column-gap: 2px;
    font-size: 13px; font-weight: 400; color:#666; 
    padding-bottom: 36px;
}

#SocialLogin {padding-bottom: 40px;}
#SocialLogin ul {display: flex; justify-content: space-between;}
#SocialLogin ul li img {height: 35px;}

.help {display: flex; justify-content: space-between; height:40px;}
.help div {font-weight: 400; font-size: 12.5px; line-height: 20px; color:#777}
.help div span {font-size: 15px; color:#555}

.help button {border:1px solid #ccc; width:150px; color:#222; transition:0.3s;}
.help button:hover {border:1px solid #627581; background: #fff; width:150px; color:#627581}

.help {margin-bottom: 20px;}


/* box2 상세 */
.b2 p {font-size: 14.5px; font-weight: 200; line-height: 22px; margin-top: 62px;}

